/* Standard colors*/
body{
    --customOrange: #ff9900;
    --customGreen: #00cc00;
    --customBlue: #0099ff;
    --textGrey: #848484;
    --customGrey: #424242;
    --customGreyDark: #333;
    --customGradient: linear-gradient(var(--customGreyDark), var(--customGrey), var(--customGreyDark));
}

/* Standard style */
body{
    background-color: var(--customGrey);
    --font-family: quiroh, sans-serif;
    --menu-font-size: 30px;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: normal;
    color: var(--textGrey);
    overflow-y: scroll;
    --content-max-width: 1280px;
    --customBorder: 3px solid;
    --custom-box-shadow: 0px 3px 6px #000;
    --custom-text-shadow: 0px 3px 3px #000;
}

h1, p{
    color: #eeeeee;
    text-shadow: var(--custom-text-shadow);
    font-size: 20px;
}

h1{
    font-size: 70px;
}

p{
    display: block;
    line-height: 2;
}


.orange, .aboutme{
    color: var(--customOrange);
}

.green, .studywork{
    color: var(--customGreen);
}

.blue, .otherprojects{
    color: var(--customBlue);
}

#header{
    border-bottom: var(--customBorder);
    position: fixed;
    width:100%;
    background:var(--customGradient);
    top:0;
    box-shadow: var(--custom-box-shadow);
}

#topMenu{
    display: flex;
    justify-content: flex-end;
    max-width: var(--content-max-width);
    margin: auto;
}

#topMenu li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: var(--menu-font-size);
}

#topMenu li a:hover{
    text-decoration: underline;
}

/* Underline menu link to current page */
.aboutme .orange, .studywork .green, .otherprojects .blue{
    background-color: var(--customGreyDark);
}

#content{
    margin-top:50px;
    background: url(../media/imgs/desk.jpg) no-repeat top center fixed;
    background-size: cover;
}

#aboutMe{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    max-width: var(--content-max-width);
    margin: auto;
    padding: 30px 10px;
}

#aboutMe img{
    border-radius: 50%;
    border: var(--customBorder) var(--customOrange);
    box-shadow: var(--custom-box-shadow);
    width: 30%;
    max-width: 450px;
    
}

#profileText{
    display: flex;
    flex-direction: column;
    width: 530px;
    text-align: justify;
}

@media screen and (max-width: 840px){
    #aboutMe{
        flex-direction: column-reverse;
    }
    
    #aboutMe h1{
        text-align: center;
    }
    
    #profileText{
        width: 90%;
        max-width: 530px;
    }
    
    #aboutMe img{
        width: 90%;
        max-width: 300px;
    }
}

